# Django
DJANGO_SECRET_KEY=cambiar-en-produccion
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
POSTGRES_DB=boliche_sig
POSTGRES_USER=boliche
POSTGRES_PASSWORD=boliche
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
